:root{
  /* --bs-primary: #123afe; */
  --teste: #123;
  /* --bs-btn-bg: #000 !important; */
}
/* .btn-primary{
  background-color: #000 !important;
} */
/* .btn-primary{
  background-color: #123 !important;
  color: #123 !important;
} */